{% extends 'base.html' %}
{% block content %}
<nav>
    <ul class="menu">
        <li><a href="/">Home </a></li>
        <li><a href="/countries/new">Add a New Destination! </a></li>
    </ul>
</nav>
<div class = "country--box">
    {% for countries in all_countries  %}
        <h2 class="country">{{ countries.name }}</h2>
        <h3>Why do you want to visit?</h3>
        <p> {{ countries.description }}</p>
        <p><a href="/countries/{{ countries.id }}">View Cities</a></p>
        <a href="/countries/{{ countries.id }}/edit">Edit Country</a>
        <form class="delete-form" action="/countries/{{countries.id}}/delete" method="POST">
            <button class="button" value="Delete">Delete</button>
        </form>
        
        <div class="button">

    
        </div>
        
        
    {% endfor %}
</div>
{% endblock content %}