{% extends 'base.html' %}
{% block content %}
<nav>
    <ul class="menu">
        <li><a href="/">Home </a></li>
        <li><a href="/countries">Countries </a></li>
    </ul>
</nav>



<div class = "country--box">
    {% for city in all_cities  %}
        <h2>{{ city.name }}</h2>
        <p>{{ city.description }}</p>
        <form class="delete-form" action="/countries/{{countries.id}}/cities/delete" method="POST">
            <button class="button" value="Delete">Delete</button>
        </form>
    {% endfor %}
</div>

<div class = "link--city">
<h2>Add a new City!</h2>
<a href="/countries/{{countries.id}}/new">Click here to add a new City</a>
</div>


{% endblock content %}