body {
    background-color: aqua;
    color: hwb(28 9% 9%);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.menu {
    background-color: rgb(6, 231, 252);
    list-style: none;
    margin: 0;
}

.country--box {
    color: hwb(28 9% 9%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border: 5px, solid, red;
}

.button {
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 10px;
}

.new-form{
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: justify;
}

.trash-button{
    display: contents;
    font-size: 65%;
}

.link--city {
    text-align: center;
}
.edit--form {
    text-align: center;
    padding-top: 30px;
}

.submit--button {
    margin-top: 10px;
}

h2 {
    text-align: center;
}

.home--page {
    text-align: center;
}