body {
    background-color: rgb(1, 16, 71);
    color: hwb(0 100% 0%);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage-title {
    color: orange;
}

.menu {
    background-color: orange;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.country--box {
    color: hwb(28 9% 9%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border: 5px, solid, red;
}

.button {
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 10px;
}

.new-form{
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: justify;
}

.trash-button{
    display: contents;
    font-size: 65%;
}

.link--city {
    text-align: center;
}
.edit--form {
    text-align: center;
    padding-top: 30px;
}

.submit--button {
    margin-top: 10px;
}

h2 {
    text-align: center;
}

.home--page {
    text-align: center;
    margin-top: 200px;
    font-size: 200%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.new-country-link{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: red;
}
.country {
    text-transform: uppercase;
}